include LICENSE
include README.md
include pyproject.toml
include setup.py

recursive-include src/vitoclient *.py

# Exclude documentation and local config
exclude tokens.json
global-exclude *.pyc
global-exclude __pycache__
